@use '../../Mixins.scss' as *;
@use '../../Variables.scss' as *;

.about {
    display: flex;
    flex-direction: column;
    @include padding(0 6.944vw, 0 100px, 0 5.333vw);
    .banner {
        @include height(15.49vw, 223px, 29.6vw);
        @include mobile {
            @include borderRadius(10px);
            &::before {
                @include borderRadius(10px);
            }
        }
    }
    .collapseContainer {
        @include margin(2.778vw 0, 40px 0, 5.333vw 0);
        .collapse {
            &:not(:last-child) {
                @include margin(0 0 2.778vw 0, 0 0 40px 0, 0 0 5.333vw 0);
            }
            .header {
                background-color: $mainColor;
                @include height(3.611vw, 52px, 8vw);
                @include padding(0.694vw 1.042vw, 10px 15px, 2.667vw 4vw);
            }
            h3 {
                color: $secondTextColor;
                @include fontSize(1.667vw, 24px, 3.467vw);
            }
            .arrow {
                color: $secondTextColor;
                @include fontSize(2.222vw, 24px, 3.467vw);
            }
            .content {
                background-color: $secondBackgroundColor;
                @include fontSize(1.25vw, 18px, 2.667vw);
                &.open {
                    @include padding(1.389vw, 20px, 2.667vw);
                }
            }
        }
    }
}