.about {
    padding: 0 6.944vw;
    .banner {
        height: 15.49vw;
    }
    .collapseContainer {
        margin: 2.778vw 0;
        row-gap: 2.778vw;
        .collapse{
            .header{
                height: 3.611vw;
                padding: 0.694vw 1.042vw;
            }
            h3{
                font-size: 1.667vw;
            }
            .arrow{
                font-size: 2.222vw;
            }
            .content{
                font-size: 1.25vw;
            }
            .content.open{
                padding: 1.389vw;
            }
        }    
    }
}
@media (min-width: 1440px) {
    .about {
        padding: 0 100px;
        .banner {
            height: 223px;
        }
        .collapseContainer {
            margin: 40px 0;
            row-gap: 40px;
            .collapse{
                .header{
                    height: 52px;
                    padding: 10px 15px;
                }
                h3{
                    font-size: 24px;
                }
                .arrow{
                    font-size: 24px;
                }
                .content{
                    font-size: 18px;
                }
                .content.open{
                    padding: 20px;
                }
            }    
        }
    } 
}
@media (max-width: 768px) {
    .about {
        padding: 0 5.333vw;
        .banner {
            height: 29.6vw;
        }
        .collapseContainer {
            margin: 5.333vw 0;
            row-gap: 5.333vw;
            .collapse{
                .header{
                    height: 8vw;
                    padding: 2.667vw 4vw;
                }
                h3{
                    font-size: 3.467vw;
                }
                .arrow{
                    font-size: 3.467vw;
                }
                .content{
                    font-size: 2.667vw;
                }
            }    
        }
    } 
}