@use '../../Mixins.scss' as *;
@use '../../Variables.scss' as *;

.housing {
    display: block;
    flex-direction: column;
    @include margin(0 6.944vw, 0 100px, 0 5.333vw);
    @include desktop {
        display: flex;
    }
    @include mobile {
        display: block;
    }
    
    .carousel {
        @include height(28.819vw, 415px, 68vw);
        img {
            display: block;
            width: 100%;
            height: 100%;
            @include borderRadius($borderRadius);
        }
        .arrow {
            color: $secondTextColor;
            @include fontSize(6.944vw, 100px, 6.4vw);
            &:hover {
                color: $mainColor;
            }
        }
        .counter {
            color: $secondTextColor;
            @include fontSize(1.286vw, 18px, 4.8vw);
        }
    }
    .general {
        display: flex;
        justify-content: space-between;
        @include margin(2.083vw 0 0, 30px 0 0, 2.083vw 0 0);
        .info {
            h2 {
                color: $mainColor;
                font-weight: 500;
                @include fontSize(2.5vw, 36px, 4.8vw);
            }
            .location {
                @include margin(0.694vw 0 0 0, 10px 0 0 0, 0);
                @include fontSize(1.25vw, 18px, 3.733vw);
            }
            .tags {
                display: flex;
                flex-direction: row;
                @include margin(2.083vw 0 0, 30px 0 0, 2.667vw 0 0);
                .tag {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $mainColor;
                    color: $secondTextColor;
                    font-weight: 700;
                    @include height(1.736vw, 25px, 8.533vw);
                    @include width(10.417vw, 150px, 26.667vw);
                    @include margin(0 1.389vw 0 0, 0 20px 0 0, 0 1.6vw 0 0);
                    @include borderRadius(30px);
                    @include fontSize(0.972vw, 14px, 2.667vw);
                }
            }
        }
        .hostRating {
            @include margin(0, 0, 2.667vw 0 0);
            .host {
                display: flex;
                align-items: center;
                .name {
                    text-align: right;
                    color: $mainColor;
                    @include margin(0 1.389vw 0 0, 0 20px 0 0, 0 1.6vw 0 0);
                    @include fontSize(1.25vw, 18px, 3.2vw);
                    .firstName, .lastName {
                        display: inline;
                        @include margin(0 0 0 0.347vw, 0 0 0 5px, 0);
                    }
                }
                .picture {
                    @include height(4.444vw, 64px, 8.533vw);
                    @include borderRadius($borderRadius);
                }
            }
            .rating {
                display: flex;
                justify-content: flex-end;                
                @include margin(2.083vw 0 0, 30px 0 0, 2.083vw 0 0);
                .fa-star {
                    color: $emptiStarColor;
                    @include margin(0 0 0 0.347vw, 0 0 0 5px , 0 0 0 1.6vw );
                    @include fontSize(1.667vw, 24px, 3.467vw);
                }
                .fa-star.filled {
                    color: $mainColor;
                }
            }
        }
    }
    .detail {
        display: flex;
        justify-content: space-between;
        @include gap(3.472vw, 50px, 0);
        @include margin(2.083vw 0, 30px 0, 2.667vw 0 0 0);
        .collapse {
            flex: 1;
            .header {
                background-color: $mainColor;
                @include height(3.611vw, 52px, 8vw);
                @include padding(0.694vw 1.042vw, 10px 15px, 1.333vw);
            }
            h3 {
                color: $secondTextColor;
                @include fontSize(1.25vw, 18px, 3.467vw);
            }
            .arrow {
                color: $secondTextColor;
                @include fontSize(1.25vw, 18px, 2.933vw);
            }
            .content {
                color: black;
                background-color: $secondBackgroundColor;
                @include fontSize(1.042vw, 15px, 2.933vw);
                ul {
                    list-style: none;
                }
            }
            .content.open {
                @include padding(1.042vw, 15px, 1.333vw);
            }
        }
    }
    @include mobile {
        .general {
            flex-direction: column;
            .hostRating {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                .host {
                    .name {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
    
                        .firstName,
                        .lastName {
                            display: block;
                        }
                    }
                }
            }
        }
        .detail {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .collapse {
                @include margin(0, 0, 0 0 5.333vw 0);
            }
        }
    }
    
}