@use '../../Mixins.scss' as *;
@use '../../Variables.scss' as *;

.home {
    @include padding(0 6.944vw, 0 100px, 0 5.333vw);
    .banner {
        @include height(15.49vw, 223px, 29.6vw);
        h2 {
            @include fontSize(3.333vw, 48px, 6.4vw);
        }
        &::before {
            background-color: $bannerFilter;
        }
    }
    .cardContainer {
        background-color: $secondBackgroundColor;
        display: grid;
        @include padding(3.4722vw, 50px, 0);
        @include margin(3.4722vw 0, 50px 0, 5.333vw 0);
        @include gap(3.4722vw, 50px, 5.333vw);
        @include mobile {
            background-color: $mainBackgroundColor;
            grid-template-columns: 1fr;
        }
        .card {
            h3 {
                color: $secondTextColor;
                @include fontSize(1.25vw, 18px, 4.8vw);
                @include padding(1.04vw, 20px, 5.333vw);
            }
        }
    }
}