.home {
    //Banner
    --bannerHeight: 15.49vw;
    --bannerMarginLeftRight: 6.94vw;
    --bannermarginLeftRightH2: 3.47vw;
        
    --largeBannerHeight: 223px;
    --largeFontSizeH2: 48px;
    
    --mobileBannerHeight: 29.6vw;
    --mobileBannerMarginLeftRight: 5.333vw;
    --mobileFontSizeH2: 6.667vw;
    --mobileMarginH2: 5.33vw;

    //Card
    --cardContainerMarginTopBottom: 3.47vw;
    --cardContainerMarginLeftRight: 6.94vw;
    --cardContainerPadding: 3.74vw;
    --cardContainerGap: 3.4722vw;
    --cardFontSizeH3: 1.25vw;
    --cardPaddingH3: 1.04vw;

    --largeCardContainerGap: 50px;
    --largeCardContainerMaxWidth: 1240px;
    --largeCardContainerMargin: 100px;
    --largeCardContainerMarginBottom: 50px;
    --largeCardContainerPadding: 50px;
    --largeCardSize: 340px;
    --largeFontSizeH3: 18px;
    --largePaddingH3: 15px;

    --mobileCardContainerGap: 5.333vw;
    --mobileCardContainerMarginTopBottom: 5.333vw;
    --mobileCardContainerMarginleftRight: 5.333vw;
    --mobileCardHeight: 68vw;
    --mobileFontSizeH3: 4.8vw;
    --mobilePaddingH3: 4vw;
}