.home {
    padding: 0 6.944vw;
    .banner {
        height: 15.49vw;
        h2{
            font-size: 3.333vw;
        }
    }
    .cardContainer {
        background-color: #f6f6f6;
        padding: 3.4722vw;
        margin: 3.4722vw 0;
        gap: 3.4722vw;
        .card{
            h3{
                padding: 1.04vw;
                font-size: 1.25vw;
            }
        }
    }
}
@media (min-width: 1440px) {
    .home {
        padding: 0 100px;
        .banner {
            height: 223px;
            h2{
                font-size: 48px;
            }
        }
        .cardContainer {
            padding: 50px;
            margin: 50px 0;
            gap: 50px;
            .card{
                h3{
                    padding: 20px;
                    font-size: 18px;
                }
            }
        }
    } 
}
@media (max-width: 768px) {
    .home {
        padding: 0 5.333vw;
        .banner {
            height: 29.6vw;
            h2{
                font-size: 6.4vw;
            }
        }
        .cardContainer {
            grid-template-columns: 1fr;
            background-color: white;
            padding: 0;
            margin: 5.333vw 0;
            gap: 5.333vw;
            .card{
                h3{
                    padding: 5.333vw;
                    font-size: 4.8vw;
                }
            }
        }
    } 
}