@use '../../Mixins.scss' as *;
@use '../../Variables.scss' as *;

.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    @include borderRadius();
    .card {
        width: 100%;
        aspect-ratio: 1;
        min-height: 0;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: transform 0.3s ease;
        will-change: transform, box-shadow;
        @include borderRadius(10px);
        @include boxShadow();
        h3 {
            z-index: 1;
        }
    }
    .card:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
}