.cardContainer {
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    .card {
        width: 100%;
        aspect-ratio: 1;
        min-height: 0;
        border-radius: 15px;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: transform 0.3s ease;
        will-change: transform, box-shadow;
        h3 {
            color: white;
            z-index: 1;
        }
    }
    .card:hover {
        cursor: pointer;
    }
}
