@use '../../Mixins.scss' as *;
@use '../../Variables.scss' as *;

.collapse {
    width: 100%;
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border: none;
        @include borderRadius(5px);
    }
    .arrow {
        transition: transform 0.3s ease-in-out;
        &.open {
            transform: rotate(-180deg);
        }
    }
    .content {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
        @include borderRadius(0 0 5px 5px);
        &.open {
            max-height: 1000px;
            opacity: 1;
        }
    }
}