.collapseContainer {
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.collapse {
    width: 100%;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6060;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
h3 {
    font-weight: 700;
    color: white;
}
.arrow {
    transition: transform 0.3s ease-in-out;
    color: white;
}
.arrow.open {
    transform: rotate(-180deg);
}
.content {
    background-color: #fbfbfb;
    border-radius: 5px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
}

.content.open {
    max-height: 1000px;
    opacity: 1;
}
