@use '../../Mixins.scss' as *;
@use '../../Variables.scss' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include margin(3.47vw, 50px, 5.33vw);
    h1 {
        visibility: hidden;
        position: absolute;
    }
    img {
        @include width(14.583vw, 210px, 38.667vw);
    }
    ul {
        list-style: none;
        display: flex;
        font-weight: 500;
        padding: 0;
        @include fontSize(1.667vw, 24px, 3.2vw);
        @include gap(3.472vw, 50px, 5.33vw);
    }
    a {
        color: $mainTextColor;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}