header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.47vw 6.94vw;
  h1 {
    visibility: hidden;
    position: absolute;
  }
}

ul {
  list-style: none;
  display: flex;
  font-size: 1.667vw;
  font-weight: 500;
  gap: 3.472vw;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
@media (min-width: 1440px) {
    header {
        margin: 50px 100px;
    }
    ul {
        font-size: 24px;
        gap: 50px;
    }
}
@media (max-width: 768px) {
    header {
        margin: 5.33vw;

        img {
            content: url('../../assets/logoPhone.png');
        }
    }
    
    ul {
        font-size: 3.2vw;
        gap: 5.33vw;
    }
}