@use '../../Mixins.scss' as *;
@use '../../Variables.scss' as *;

.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    .carousel-image {
        object-fit: cover;
        @include borderRadius();
    }
    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
    }
    .left {
        left: 20px;
    }
    .right {
        right: 20px;
    }
    .counter {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        font-weight: 500;
        @include mobile {
            display: none;
        }
    }    
}