footer {
    background-color: #000000 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        margin: 3.47vw 0;
    }
    p {
        color: white;
        font-size: 1.667vw;
        font-weight: 500;
        margin-bottom: 3.47vw;
    }
}

@media (min-width: 1440px) {
    footer img {
        margin: 50px 0;
    }
    footer p {
        font-size: 24px;
        margin-bottom: 50px;
    }
}
@media (max-width: 768px) {
    footer p {
      font-size: 3.2vw;
    }
}