@use '../../Mixins.scss' as *;
@use '../../Variables.scss' as *;

footer {
    background-color: $mainTextColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include gap(2.143vw, 30px, 8vw);
    @include height(14.929vw, 209px, 55.733vw);
    img {
        @include width(8.714vw, 122px, 32.533vw);
    }
    p {
        color: $secondTextColor;
        font-weight: 500;
        @include fontSize(1.714vw, 24px, 3.2vw);
    }
}