footer {
    background-color: #000000 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.143vw;
    height: 14.929vw;
    img {
        width: 8.714vw;
    }
    p {
        color: white;
        font-size: 1.714vw;
        font-weight: 500;
    }
}
@media (min-width: 1440px) {
    footer {
        row-gap: 30px;
        height: 209px;
        img {
            width: 122px;
        }
        p {
            font-size: 24px;
        }
    }
}
@media (max-width: 768px) {
    footer {
        row-gap: 8vw;
        height: 55.733vw;
        img {
            width: 32.533vw;
        }
        p {
            font-size: 3.2vw;
        }
    }
}