.collapseContainer {
    justify-self: center;
    margin: 2.778vw 13.889vw;
}

.collapse {
    width: 100%;
}

.collapseHeader {
    width: 100%;
    height: 3.611vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ff6060;
    padding: 0.694vw 1.042vw;
    margin-top: 2.778vw;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.collapseTitle {
    font-size: 1.667vw;
    font-weight: 700;
    color: white;
}

.collapseArrow {
    transition: transform 0.3s ease-in-out;
    font-size: 2.222vw;
    color: white;
}

.collapseArrow.open {
    transform: rotate(-180deg);
}

.collapseContent {
    background-color: #fbfbfb;
    padding: 0 1.042;
    border-radius: 5px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
}

.collapseContent.open {
    max-height: 200px;
    opacity: 1;
    padding: 10px 15px;
}
