footer {
    background-color: #000000 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        margin: 3.47vw 0;
    }
    
    p {
        color: white;
        font-size: 2.105vw;
        font-weight: 500;
        margin-bottom: 2.632vw;
    }
}

@media (max-width: 768px) {
    footer p {
      font-size: 3.2vw;
    }
}
