// Colors
$mainColor: #ff6060;
$mainBackgroundColor: #ffffff;
$secondBackgroundColor: #f6f6f6;
$footerBackgroundColor:#000000;
$mainTextColor: #000000;
$secondTextColor: #ffffff;
$emptiStarColor: #e3e3e3;
$bannerFilter: rgba(0, 0, 0, 0.5);
$shadowColor: rgba(0, 0, 0, 0.2);

// Sizes
$maxWidth: 1440px;
$borderRadius: 30px;
$boxShadow: 0 5px 5px;

// Fonts
$mainFontFamily: 'montSerrat', sans-serif;
$mainFontWeight: 700;