@use '../../Mixins.scss' as *;
@use '../../Variables.scss' as *;

.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        color: $mainColor;
        @include padding(2.778vw 0 0 0, 40px 0 0 0, 10.667vw 0 0 0);
        @include fontSize(20vw, 288px, 25.6vw);
    }
    p {
        color: $mainColor;
        @include padding(6.944vw 0 0 0, 100px 0 0 0, 10.667vw 0 0 0);
        @include fontSize(2.5vw, 36px, 4.8vw);
        @include mobile {
            text-align: center;
            margin: 0 13.333vw;
        }
    }
    a {
        color: $mainTextColor;
        text-decoration: underline;
        @include padding(6.944vw 0 0 0, 100px 0 0 0, 10.667vw 0 0 0);
        @include fontSize(1.25vw, 18px, 3.733vw);
        @include margin(0 0 6.944vw 0, 0 0 100px 0, 0 0 10.667vw 0);
    }
}